<link rel='stylesheet' href='/stylesheets/overlay.css' />

<div class="header">
    <img src="<%=image%>" class="header header-image" alt="Responsive image">
    <div class="overlay">

        <div class="d-flex flex-column header header-nav">
            <nav class="navbar navbar-expand-md navbar-dark bg-transparent">
                <a class="navbar-brand" href="/">CJQ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon header-link"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link header-link" href="/about">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="/discography">DISCOGRAPHY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="/written-works">WRITTEN WORK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="/photography">PHOTO GALLERY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="/contact">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="/shop">SHOP</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    <div class="d-flex flex-column header header-text">
        <p class="header-title"><%=title%></p>
        <% if(sub === true) { %>
        <p class="header-title-sub"><%=titlesub%></p>
        <% } %>

        <p class="header-subtitle"><%=subtitle%> <a class=" overlay-subtitle-link" id="link" href="/shop"><%=link%></a></p>

