<% include partials/header.ejs %>
<% include partials/overlay.ejs %>

<!--Dropdown buttons that overlay the header image-->
<div class="row justify-content-center">
    <!--Category dropdown-->
    <div class="dropdown">
        <button type="button" class="mr-4 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
        <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/collections">Collections</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/poems">Poems</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/songs">Lyrics</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works">All</a>
        </div>
    </div>
    <!--End category dropdown-->

    <!--Decade dropdown-->
    <div class="dropdown-2">
        <button type="button" class="ml-2 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Year</button>
        <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1960s">1960s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1970s">1970s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1980s">1980s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1990s">1990s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/2000s">2000s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/Present">Present</a>
        </div>
    </div>
    <!--End decade dropdown-->
</div>
<!--End dropdown buttons-->

<!--Closes tags from overlay-->
</div>
</div>

<!--HAVE COLLECTION LINK TO DIFFERENT PAGE JUST POEM AND SONGS ON THIS ONE-->
<!--Title-->
<div class="mt-5 container">
    <% if(results.collection) {%>

    <%if(results.collection.title) {%>
    <h1 class="mb-3"><%=results.collection.title%></h1>
    <% }%>
    <!--End title-->

    <!--Sub information-->

    <h6 class="mt-2"><a class="btn btn-dark rounded-2 tag btn-sm" href="/shop" role="button">Shop</a></h6>
    <!--End sub information-->

    <!--Body-->
    <% results.collection.poems.forEach(function(poem) { %>
    <div class="media mt-5">
        <!--Image-->
        <div class="container ml-3 col-2 align-self-center">
            <% if (poem.image) { var image = "/" + poem.image %>
            <img class="img-fluid" src="<%=image%>" alt="Generic placeholder image">
            <% } else { %>
            <img class="img-fluid" src="/images/mountain.jpg" alt="Generic placeholder image">
            <% } %>
        </div>
        <!--End image-->

        <!--Body - title and description-->
        <div class="my-4 media-body align-self-center">
            <% if (poem.title) { %>
            <h5 class="mt-0><%= poem.title %></h5>
            <% } %>
            <% if (poem.description) { %>
                <%= poem.description.substring(0, 100) %> "..."
            <% } %>
            <p>
                <a href=<%=poem.url%>> View
                </a>
            </p>
        </div>
        <!--End body-->
    </div>
    <% });}%>

    <!--End body-->

</div>
<!--End container-->


<% include partials/footer.ejs %>