<% include partials/header.ejs %>
<link rel='stylesheet' href='/stylesheets/modal-grid.css' />
<link rel='stylesheet' href='/stylesheets/pop-up.css' />
<link rel='stylesheet' href='/stylesheets/carousel.css' />
<link rel='stylesheet' href='/stylesheets/discography.css' />

<div class="header">
    <img src="<%=image%>" class="header header-image" alt="Responsive image">
    <div class="overlay">
        <div class="d-flex flex-column header header-nav">
            <nav class="navbar navbar-expand-md navbar-dark bg-transparent">
                <a title="Home" class="navbar-brand" href="/">CJQ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon header-link"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a title="Home" class="nav-link header-link" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a title="Explore Discography" class="nav-link header-link" href="/discography">MUSIC</a>
                        </li>
                        <li class="nav-item">
                            <a title="Explore Written Works" class="nav-link header-link" href="/written-works">WRITTEN WORK</a>
                        </li>
                        <li class="nav-item">
                            <a title="Contact Charles John Quarto" class="nav-link header-link" href="/contact">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a title="About Charles John Quarto" class="nav-link header-link" href="/about">BIO</a>
                        </li>
                        <li class="nav-item">
                            <a title="Shop New Collections" class="nav-link header-link" href="/shop">SHOP</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    <div class="d-flex justify-content-center header header-text">
        <p class="discography-header-title align-self-center">MUSIC</p>
        <!--Closing tags from overlay-->
    </div>
</div>

<!--Photo grid for album covers - triggers modal-->
<div class="discography-container">
    <!--Row: all in one row-->
    <div class="row ">
        <div class="col d-flex justify-content-center">
            <a title="Spotify" class="mt-3 mb-4 discography-shop-link btn btn-outline-dark rounded-0 tag btn-sm" href="/shop" role="button">SPOTIFY</a>
        </div>
        <div class="col d-flex justify-content-center">
            <a title="Shop Available Music" class="mt-3 mb-4 discography-shop-link btn btn-outline-dark rounded-0 tag btn-sm" href="/shop" role="button">SHOP</a>
        </div>
        <div class="col d-flex justify-content-center">
            <a title="Featured Album Lyrics" class="mt-3 mb-4 discography-shop-link btn btn-outline-dark rounded-0 tag btn-sm" href="/written-works" role="button">LYRICS</a>
        </div>
    </div>

    <div class="row">
        <% results.album_list.forEach(function(album) { %>
        <!--Image + Title container-->
            <div class="album-photo col-sm-6 my-5">
                <!--Link to toggle modal-->
                <!--<a title="Select to View Album Details" class="album-link" data-toggle="modal" href="#myModal">-->
                <a title="Select to View Album Details" class="album-link" href="/shop">
                    <!--Image-->
                    <% if (album.image) { var image = "/" + album.image %>
                        <img class="my-1 img-fluid" src="<%=image%>" alt="image">
                    <% } else { %>
                        <img class="img-fluid" src="/images/mountain.jpg" alt="Generic placeholder image">
                    <% } %>
                    <!--Title-->
                    <div class="photo-overlay">
                        <div class="photo-overlay-text">
                            <% if (album.title) { %>
                            <div class="title"> <%= album.title %> </div>
                            <% } %>
                            <!--MAKE IT SO IF THERE ARE GREATER THAN 2 OR SO ARTISTS IT ONLY SHOWS THE FIRST 2 AND THEN SAYS AND-->
                            <!--MORE-->
                            <div class="artists">
                                <% var count = 0;%>
                                <% if (album.artist) { album.artist.forEach(function(artist) {  %>
                                    <% count++;%>
                                    <% if(album.artist.length === 1) {%>
                                            <%= artist%>
                                    <% } else if(album.artist.length === 2) { %>
                                        <% if(count === 1) {%>
                                            <%= artist%> and
                                        <% } else if(count === 2) { %>
                                            <%= artist%>
                                        <% } %>
                                    <% } else if(count === 1 || count === 2) {%>
                                        <%= artist%>,
                                    <%} else if(count === 3) {%>
                                         and more
                                    <% } %>
                                <% })} %>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        <!--End image + title container-->
        <% }); %>

    </div>
    <!--End row-->
</div>


<script type="text/javascript" src="/javascripts/carousel.js"></script>

<% include partials/footer.ejs %>