<% include partials/header.ejs %>
<% include partials/overlay.ejs %>
<link rel='stylesheet' href='/stylesheets/modal-grid.css' />
<link rel='stylesheet' href='/stylesheets/pop-up.css' />
<link rel='stylesheet' href='/stylesheets/carousel.css' />

<!--Dropdown buttons that overlay the header image-->
<div class="row justify-content-center">
    <!--Category dropdown-->
    <div class="dropdown">
        <button type="button" class="mr-4 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
        <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a title="View All Songs" class="dropdown-item header-dropdown-item" href="/written-works/category/songs">All Songs</a>
            <a title="View All Albums" class="dropdown-item header-dropdown-item" href="/discography/category/album">All Albums</a>
            <a title="View All Music" class="dropdown-item header-dropdown-item" href="/discography">All</a>
        </div>
    </div>
    <!--End category dropdown-->

    <!--Decade dropdown-->
    <div class="dropdown-2">
        <button type="button" class="ml-2 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Year</button>
        <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <a title="View Music From the 1960s" class="dropdown-item header-dropdown-item" href="/discography/decade/1960">1960s</a>
            <a title="View Music From the 1970s" class="dropdown-item header-dropdown-item" href="/discography/decade/1970">1970s</a>
            <a title="View Music From the 1980s" class="dropdown-item header-dropdown-item" href="/discography/decade/1980">1980s</a>
            <a title="View Music From the 1990s" class="dropdown-item header-dropdown-item" href="/discography/decade/1990">1990s</a>
            <a title="View Music From the 2000s" class="dropdown-item header-dropdown-item" href="/discography/decade/2000">2000s</a>
            <a title="View Music From the Present" class="dropdown-item header-dropdown-item" href="/discography/decade/Present">Present</a>
        </div>
    </div>
    <!--End decade dropdown-->
</div>
<!--End dropdown buttons-->

<!--Closing tags from overlay-->
</div>
</div>

<% if(results.album_list.length === 0 && results.song_list.length === 0) {%>
<div class="mt-5 container">
    <h1> No Results </h1>
    <a title="View Discography" class="no-results" href="/discography"> BACK TO DISCOGRAPHY
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<% } else { %>
<!--Photo grid for album covers - triggers modal-->
<div class="photo-container">
    <!--Row: all in one row-->
    <div class="row">
        <% results.album_list.forEach(function(album) { %>
        <!--Image + Title container-->
            <div class="album-photo col-md-4 col-sm-6 my-3">
                <!--Link to toggle modal-->
                <a title="Select to View Album Details" class="album-link" data-toggle="modal" href="#myModal">
                    <!--Image-->
                    <% if (album.image) { var image = "/" + album.image %>
                        <img class="my-1 img-fluid" src="<%=image%>" alt="image">
                    <% } else { %>
                        <img class="img-fluid" src="/images/mountain.jpg" alt="Generic placeholder image">
                    <% } %>
                    <!--Title-->
                    <div class="photo-overlay">
                        <div class="photo-overlay-text">
                            <% if (album.title) { %>
                            <div class="title"> <%= album.title %> </div>
                            <% } %>
                            <!--MAKE IT SO IF THERE ARE GREATER THAN 2 OR SO ARTISTS IT ONLY SHOWS THE FIRST 2 AND THEN SAYS AND-->
                            <!--MORE-->
                            <div class="artists">
                                <% var count = 0;%>
                                <% if (album.artist) { album.artist.forEach(function(artist) {  %>
                                    <% count++;%>
                                    <% if(album.artist.length === 1) {%>
                                            <%= artist%>
                                    <% } else if(album.artist.length === 2) { %>
                                        <% if(count === 1) {%>
                                            <%= artist%> and
                                        <% } else if(count === 2) { %>
                                            <%= artist%>
                                        <% } %>
                                    <% } else if(count === 1 || count === 2) {%>
                                        <%= artist%>,
                                    <%} else if(count === 3) {%>
                                         and more
                                    <% } %>
                                <% })} %>
                            </div>

                            <% if (album.spotify) { %>
                            <div class="spotify d-none"> <%= album.spotify %> </div>
                            <% } %>

                            <% if (album.description) { %>
                            <div class="description d-none"> <%= album.description %> </div>
                            <% } %>

                            <% if (album.link) { %>
                            <div class="link d-none"> <%= album.link %> </div>
                            <% } else { %>
                            <div class="link d-none"> /shop </div>
                            <% }%>

                            <!--Container for song list and length-->

                            <!--CHECK IF THIS EVEN WORKS-->
                            <div class="songs d-none">
                                <div class="length">
                                    <% if (album.songs.length != 0) { album.songs.forEach(function(song) { %>
                                        <% if (song.length) {%>
                                            <div class="d-md-block">
                                                <span class="track-info"><%= song.title %></span><span class="track-info float-right"><%= song.length %></span>
                                            </div>
                                    <% } })} else {  %>
                                    <span class="track-info"> No songs </span>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <!--End link-->
                <!--Sub information-->
                <div class="tags">
                    <span class="mr-2">Tags: </span>
                    <% if (album.category) { %>
                    <a title="View All <%=album.category%>" class="btn btn-outline-dark rounded-0 btn-sm" href="/discography/category/<%=album.category%>" role="button"><%= album.category %></a>
                    <% } %>
                    <% if (album.decade) { %>
                    <a title="View Music From the <%= album.decade %>" class="btn btn-outline-dark rounded-0 btn-sm" href="/discography/decade/<%=album.decade%>" role="button"><%= album.decade %></a>
                    <% } %>
                </div>
            </div>

        <!--End image + title container-->
        <% }); %>

        <!--<% results.song_list.forEach(function(song) { %>-->
        <!--&lt;!&ndash;Image + Title container&ndash;&gt;-->
        <!--<div class="album-photo col-md-4 col-sm-6 my-3">-->
            <!--&lt;!&ndash;Link to toggle modal&ndash;&gt;-->
            <!--<a class="album-link" data-toggle="modal" href="#myModal">-->
                <!--&lt;!&ndash;Image&ndash;&gt;-->
                <!--<% if (song.image) { var image = "/" + song.image %>-->
                    <!--<img class="my-1 img-fluid" src="<%=image%>" alt="image">-->
                <!--<%  } else { %>-->
                    <!--<img class="img-fluid" src="/images/mountain.jpg" alt="Generic placeholder image">-->
                <!--<% } %>-->
                <!--&lt;!&ndash;Title&ndash;&gt;-->
                <!--<div class="photo-overlay">-->
                    <!--<div class="photo-overlay-text">-->
                        <!--<% if (song.title) { %>-->
                        <!--<div class="title"> <%= song.title %> </div>-->
                        <!--<% } %>-->
                        <!--&lt;!&ndash;MAKE IT SO IF THERE ARE GREATER THAN 2 OR SO ARTISTS IT ONLY SHOWS THE FIRST 2 AND THEN SAYS AND&ndash;&gt;-->
                        <!--&lt;!&ndash;MORE&ndash;&gt;-->
                        <!--<div class="artists">-->
                            <!--<% if (song.artist) { song.artist.forEach(function(artist) { %>-->
                            <!--<%= artist %>-->
                            <!--<% })} %>-->
                        <!--</div>-->

                        <!--<% if (song.spotify) { %>-->
                        <!--<div class="spotify d-none"> <%= song.spotify %> </div>-->
                        <!--<% } %>-->

                        <!--&lt;!&ndash;MAKE SURE TO SET LINK AS GLOBAL AND NOT /MUSIC/CATEGORY&ndash;&gt;-->
                        <!--<% if (song.description) { %>-->
                        <!--<div class="description d-none"> <%= song.description %> </div>-->
                        <!--<% } %>-->

                        <!--<% if (song.link) { %>-->
                        <!--<div class="link d-none"> <%= song.link %> </div>-->
                        <!--<% } %>-->

                        <!--&lt;!&ndash;Container for song list and length&ndash;&gt;-->

                        <!--&lt;!&ndash;CHECK IF THIS EVEN WORKS&ndash;&gt;-->
                        <!--<div class="songs d-none">-->
                            <!--<div class="length">-->
                                <!--<% if (song.length) {%>-->
                                <!--<span class="track-info"><%= song.title %></span><span class="track-info float-right"><%= song.length %></span>-->
                                <!--<% } else {  %>-->
                                <!--<span> No songs </span>-->
                                <!--<% } %>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
            <!--&lt;!&ndash;End link&ndash;&gt;-->
            <!--&lt;!&ndash;Sub information&ndash;&gt;-->
            <!--&lt;!&ndash;MAKE THE BUTTONS ACTUALLY GO TO THE PLACE THEY SHOULD DEPENDING ON THE CATEGORY-->
            <!--okay, so for the category and decade want a render page that on click send the path /discography/:specifier-->
            <!--and then can redirect to this with a true or false thing and if album is true then then include that,-->
            <!--basically for each list in the results just render with that-->

            <!--DUH DUH DUH DUH JUST POPULATE THE ALBUMS WITH THE THING SELECTED AND ONLY NEED A TRUE OR FALSE FOR-->
            <!--SONGS VS ALBUMS BC REST IS SPECIFIC TO THAT DUH DUH DUH-->

            <!--CAN I CREATE A MAJOR LIST THAT JUST INCLUDES ALL THE DATA FOR RESULTS.WHOLE_LIST.FOREACH ELEMENT??-->

            <!--SEEMS LIKE A REASONABLE THING TO ASK FROM THIS MF PLATFORM-->


            <!--&ndash;&gt;-->
            <!--<div class="tags">-->
                <!--<span class="mr-2">Tags: </span>-->
                <!--<% if (song.category) { %>-->
                <!--<a class="btn btn-outline-dark rounded-0 btn-sm" href="/discography/category/<%=song.category%>" role="button"><%= song.category %></a>-->
                <!--<% } %>-->
                <!--<% if (song.decade) { %>-->
                <!--<a class="btn btn-outline-dark rounded-0 btn-sm" href="/discography/decade/<%=song.decade%>" role="button"><%= song.decade %></a>-->
                <!--<% } %>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;End image + title container&ndash;&gt;-->
        <!--<% }); %>-->
    </div>
    <!--End row-->
</div>
<!--End photo container-->

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content modal-content-special">
            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--End modal header-->

            <!--Modal body-->
            <div class="modal-body p-4" id="result">

                <!--Container for image above text on small-->
                <div class="mt-4 mb-4 container d-block d-sm-none">
                    <div class="modal-top-container container col-6">
                        <img class="img-fluid" src="" alt="Generic placeholder image">
                    </div>
                </div>
                <!--End small display-->

                <!--Media container-->
                <div class="media">

                    <!--Image container for small and up-->
                    <div class="modal-container col-6 d-none d-sm-block align-self-center">
                        <div>
                            <img class="img-fluid" src="" alt="Generic placeholder image">
                        </div>

                    </div>
                    <!--End image container-->

                    <!--Title and description-->
                    <div class="media-body mx-5 align-self-center">
                        <h5 class="mt-0 title"></h5>
                        <div class="description"></div>
                        <a title="Shop Available Music" class="mt-3 mr-2 link btn btn-outline-dark rounded-0 tag btn-sm" href="" role="button"></a>
                        <!--<a class="mt-3 spotify btn btn-outline-dark rounded-0 tag btn-sm" href="" role="button"></a>-->

                    </div>
                    <!--End title and description-->
                </div>
                <!--End media container-->

                <!--&lt;!&ndash;Spotify link&ndash;&gt;-->
                <!--<div class="mt-5 align-self-center">-->
                    <!--<iframe class="spotify" src="https://open.spotify.com/embed?uri=spotify:album:3Q149ZH46Z0f3oDR7vlDYV" width="600" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->
                <!--</div>-->
                <!--End spotify-->

                <!--Tracklist-->
                <div class="track-container offset-2 col-8 col-md-4 offset-md-4 mt-5 mb-2">
                    <!--Title-->
                    <div class="d-flex justify-content-center track pt-2">Tracklist</div>
                    <!--End title-->

                    <!--Container for song list and length-->
                    <div class="pb-3 songs">
                    </div>
                    <!--End song list container-->
                </div>
                <!--End tracklist-->
            </div>
            <!--End modal body-->
        </div>
    </div>
</div>
<!--End modal-->
<% } %>


<script type="text/javascript" src="/javascripts/carousel.js"></script>

<% include partials/footer.ejs %>