<% include partials/header.ejs %>
<% include partials/overlay.ejs %>
<link rel='stylesheet' href='/stylesheets/modal-grid.css' />
<link rel='stylesheet' href='/stylesheets/carousel.css' />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


<!--Closing tags from overlay-->
</div>
</div>

<div class="photo-container">
    <!--HAVE TO CHANGE SOME OF THE JPG TO JPEG AND MAKE SURE ONLY ONE OF THE PHOTO IS BEING SHOWN-->
    <div class="row">
        <!--foreach photo in the data create a column like so with the image link set to the image-->
        <% photos.forEach(function(photo) { %>
        <div class="photo col-md-4 col-sm-6 my-3">
            <a class="photo-link" data-toggle="modal" href="#myModal">
                <img class="my-1 img-fluid" src="<%= photo.image %>" alt="image">
                <div class="photo-overlay">
                    <div class="photo-overlay-text">
                        <% if (photo.photographer) { %>
                        <div class="title"> Photography by <%= photo.photographer %> </div>
                        <% } %>
                        <% if (photo.title) { %>
                        <div class="photographer"><%= photo.title %>  </div>
                        <% } %>
                        <% if (photo.location) { %>
                        <div class="location d-none"> <%= photo.location %>  </div>
                        <% } %>
                        <% if (photo.description) { %>
                        <div class="description d-none"> <%= photo.description %> </div>
                        <% } %>
                    </div>
                </div>
            </a>
        </div>
        <% }); %>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-4" id="result">

                <!--Container for image above text on small-->
                <div class="mt-4 container d-block d-sm-none">
                    <div class="container modal-container col-6">
                        <img class="img-fluid" src="" alt="Generic placeholder image">
                    </div>
                </div>
                <!--End small display-->

                <!--Media container-->
                <div class="media mt-5">
                    <!--Image container for small and up-->
                    <div class="container modal-container image-container col-6 d-none d-sm-block">
                        <img class="img-fluid" src="" alt="Generic placeholder image">
                    </div>
                    <!--End image container-->

                    <!--Title and description-->
                    <div class="media-body mx-5 align-self-center">
                        <h2 class="title"></h2>
                        <div class="location"></div>
                        <div class="photographer"></div>
                        <div class="description"></div>
                    </div>
                    <!--End title and description-->
                </div>


            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/carousel.js"></script>

<% include partials/footer.ejs %>