<% include partials/header.ejs %>
<% include partials/overlay.ejs %>
<link rel='stylesheet' href='/stylesheets/written-list.css' />

        <div class="d-flex flex-column justify-content-center header header-text">
            <p class="about-header-title align-self-center"><%=title%></p>
            <!--Closing tags from overlay-->



            <!--Dropdown buttons that overlay the header image-->
            <div class="row mt-5 justify-content-center">
                <!--Category dropdown-->
                <div class="dropdown">
                    <button type="button" class="mr-4 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
                    <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a title="All Collections" class="dropdown-item header-dropdown-item" href="/written-works/category/collections">Collections</a>
                        <a title="All Poems" class="dropdown-item header-dropdown-item" href="/written-works/category/poems">Featured Poems</a>
                        <a title="All Songs" class="dropdown-item header-dropdown-item" href="/written-works/category/songs">Featured Songs</a>
                        <a title="All Written Works" class="dropdown-item header-dropdown-item" href="/written-works">All</a>
                    </div>
                </div>
                <!--End category dropdown-->

                <!--End dropdown buttons-->

            </div>
        </div>
        <!--Closing tags from overlay-->

<!--HAVE COLLECTION LINK TO DIFFERENT PAGE JUST POEM AND SONGS ON THIS ONE-->
    <!--Title-->
<div class="mt-5 container d-flex flex-column justify-content-center">
    <%if(results.poem) {%>

        <%if(results.poem.title) {%>
            <h1 class="mb-3"><%=results.poem.title%></h1>
        <% }%>
        <!--End title-->
            <!--ADD AUTHOR AND YEAR HERE-->

        <!--Sub information-->

        <!--Body-->
    <p class="written-work-body mt-3">
        <%if(results.poem.body) {%>
            <% for( var i = 0; i < results.poem.body.length; i++) { if(results.poem.body[i] === '\n') { %>
            <br/>
            <% } else {%>
            <%=results.poem.body[i]%>
        <br/>
        <% } } }%>
    </p>
    <!--End body-->
    <h6 class="mt-5"><a title="Shop Collection" class="btn btn-outline-dark rounded-0 p-1 btn-sm" href="/shop" role="button">Shop Collection</a> <a title="View Poems" class="btn btn-outline-dark rounded-0 p-1 btn-sm" href="/written-works/category/poems" role="button">Back to Poetry</a></h6>
    <!--End sub information-->

    <% } %>

    <%if(results.song) {%>
        <%if(results.song.title) {%>
            <h1 class="mb-3"><%=results.song.title%></h1>
        <% }%>
        <!--End title-->

        <!--Sub information-->

    <!--End sub information-->

        <!--Body-->
    <p class="written-work-body mt-3">
        <%if(results.song.lyrics) {%>

        <% for( var i = 0; i < results.song.lyrics.length; i++) { if(results.song.lyrics[i] === '\n') { %>
        <br/>
        <% } else {%>
        <%=results.song.lyrics[i]%>
        <br/>
        <% } } }%>
    </p>
        <!--End body-->
    <h6 class="mt-5"><a title="Shop Album" class="btn btn-outline-dark rounded-0 p-1 btn-sm" href="/shop" role="button">Shop Album</a> <a title="View Songs" class="btn btn-outline-dark rounded-0 p-1 btn-sm" href="/written-works/category/songs" role="button">Back to Songs</a></h6>

    <% } %>
</div>
<!--End container-->


<% include partials/footer.ejs %>