<% include partials/header.ejs %>
<% include partials/overlay.ejs %>

<!--Dropdown buttons that overlay the header image-->
<div class="row justify-content-center">
    <!--Category dropdown-->
    <div class="dropdown">
        <button type="button" class="mr-4 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
        <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/collections">Collections</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/poems">Poems</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/songs">Lyrics</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works">All</a>
        </div>
    </div>
    <!--End category dropdown-->

    <!--Decade dropdown-->
    <div class="dropdown-2">
        <button type="button" class="ml-2 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Year</button>
        <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1960">1960s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1970">1970s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1980">1980s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1990">1990s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/2000">2000s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/Present">Present</a>
        </div>
    </div>
    <!--End decade dropdown-->
</div>
<!--End dropdown buttons-->

<!--Closing tags from overlay-->
</div>
</div>

<!--Display for written works-->
<!--Media container for a written work photo, title, and description-->
<!--BOOKS-->
<% results.book_list.forEach(function(book) { %>
    <div class="media mt-5">
        <!--Image-->
        <div class="container ml-3 col-2 align-self-center">
            <% if (book.image) { var image = "/" + book.image %>
            <img class="img-fluid" src="<%=image%>" alt="Generic placeholder image">
            <% } else { %>
            <img class="img-fluid" src="/images/mountain.jpg" alt="Generic placeholder image">
            <% } %>
        </div>
        <!--End image-->

        <!--Body - title and description-->
        <div class="my-4 media-body align-self-center">
            <% if (book.title) { %>
                <h5 class="mt-0"><%= book.title %></h5>
            <% } %>
            <% if (book.description) { %>
                <%= book.description.substring(0, 100) %> ...
            <% } %>
            <p>
                <a href=<%=song.url%>> View
                </a>
            </p>
        </div>
        <!--End body-->
    </div>
<% }); %>
<!--End media container-->

<!--POEMS-->
<% results.poem_list.forEach(function(poem) { %>
<div class="media mt-5">
    <!--Image-->
    <div class="container ml-3 col-2 align-self-center">
        <% if (poem.image) { var image = "/" + poem.image %>
        <img class="img-fluid" src="<%=image%>" alt="Generic placeholder image">
        <% } else { %>
        <img class="img-fluid" src="/images/mountain.jpg" alt="Generic placeholder image">
        <% } %>
    </div>
    <!--End image-->

    <!--Body - title and description-->
    <div class="my-4 media-body align-self-center">
        <% if (poem.title) { %>
        <h5 class="mt-0"><%= poem.title %></h5>
        <% } %>
        <% if (poem.description) { %>
        <%= poem.description.substring(0, 100) %> "..."
        <% } %>
        <p>
            <a href=<%=poem.url%>> View
            </a>
        </p>
    </div>
    <!--End body-->
</div>
<% }); %>
<!--End media container-->

<!--SONGS-->
<% results.song_list.forEach(function(song) { %>

<div class="media mt-5">
    <!--Image-->
    <div class="container ml-3 col-2 align-self-center">
        <% if (song.image) { var image = "/" + song.image %>
        <img class="img-fluid" src="<%=image%>" alt="Generic placeholder image">
        <% } else { %>
        <img class="img-fluid" src="/images/mountain.jpg" alt="Generic placeholder image">
        <% } %>
    </div>
    <!--End image-->

    <!--Body - title and description-->
    <div class="m-4 media-body align-self-center">
        <% if (song.title) { %>
        <h5 class="mt-0"><%= song.title %></h5>
        <% } %>
        <% if (song.description) { %>
        <%= song.description.substring(0, 200) %> ...
        <% } %>
        <p>
            <a href=<%=song.url%>> View
            </a>
        </p>
    </div>
    <!--End body-->
</div>

<% }); %>
<!--End media container-->

<!--End written works display-->

<% include partials/footer.ejs %>