<% include partials/header.ejs %>
<% include partials/overlay.ejs %>
<link rel='stylesheet' href='/stylesheets/written-list.css' />

<!--Dropdown buttons that overlay the header image-->
<div class="row justify-content-center">
    <!--Category dropdown-->
    <div class="dropdown">
        <button type="button" class="mr-4 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
        <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/collections">Collections</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/poems">Poems</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/songs">Songs</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works">All</a>
        </div>
    </div>
    <!--End category dropdown-->

    <!--Decade dropdown-->
    <div class="dropdown-2">
        <button type="button" class="ml-2 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Year</button>
        <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1960">1960s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1970">1970s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1980">1980s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1990">1990s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/2000">2000s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/present">Present</a>
        </div>
    </div>
    <!--End decade dropdown-->
</div>
<!--End dropdown buttons-->

<!--Closing tags from overlay-->
</div>
</div>

<!--Display for written works-->
<!--Media container for a written work photo, title, and description-->
<!--BOOKS-->
<% if(results.book_list.length === 0 && results.poem_list.length === 0 && results.song_list.length === 0) {%>
<div class="mt-5 container">
    <h1> No Results </h1>
    <a class="no-results" href="/written-works"> BACK TO ALL WORKS
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<% } else { %>
<% results.book_list.forEach(function(book) { %>
    <div class="media mt-5">
        <!--Image-->
        <div class="container ml-3 col-2 align-self-center">
            <% if (book.image) { var image = "/" + book.image %>
            <img class="img-fluid" src="<%=image%>" alt="Generic placeholder image">
            <% } else { %>
            <img class="img-fluid" src="/images/mountain.jpg" alt="Generic placeholder image">
            <% } %>
        </div>
        <!--End image-->

        <!--Body - title and description-->
        <div class="m-4 media-body align-self-center">
            <% if (book.title) { %>
                <h5 class="mt-0"><%= book.title %></h5>
            <% } %>
            <% if (book.description) { %>
                <%= book.description.substring(0, 100) %>
            <% } %>
            <p>
                <a href=<%=book.url%>> VIEW <i class="fas fa-chevron-right"></i>
                </a>
            </p>
        </div>
        <!--End body-->
    </div>
<% }); %>
<!--End media container-->

<!--POEMS-->
<% results.poem_list.forEach(function(poem) { %>
<div class="media mt-5">
    <!--Image-->
    <div class="container ml-3 col-2 align-self-center">
        <% if (poem.image) { var image = "/" + poem.image %>
        <img class="img-fluid" src="<%=image%>" alt="Generic placeholder image">
        <% } else { %>
        <img class="img-fluid" src="/images/mountain.jpg" alt="Generic placeholder image">
        <% } %>
    </div>
    <!--End image-->

    <!--Body - title and description-->
    <div class="m-4 media-body align-self-center">
        <% if (poem.title) { %>
        <h5 class="mt-0"><%= poem.title %></h5>
        <% } %>
        <% if (poem.description) { %>
        <%= poem.description.substring(0, 100) %>
        <% } %>
        <p>
            <a href=<%=poem.url%>> VIEW <i class="fas fa-chevron-right"></i>
            </a>
        </p>
    </div>
    <!--End body-->
</div>
<% }); %>
<!--End media container-->

<!--SONGS-->
<hr class="mt-5" width="90%">
<!--CREATE LINE HERE THEN LINE UNDER EACH-->
<% results.song_list.forEach(function(song) { %>
<div class="media ml-5 mt-0">
    <a href=<%=song.url%>>
    <div class="m-3 media-body align-self-center">
        <% if (song.title) { %>
            <h5 class="mt-0 written-title"><%= song.title %></h5>
        <% } %>
        <% if (song.album) { %>
            <p class="mt-1 written-album">FROM ALBUM NAME HERE<%= song.album.title %> </p>
        <% } %>
        <% if (song.display) { %>
            <p class="mt-2 written-display"><%= song.display %> hello </p>
        <% } %>
        <p class="mt-1 written-display">hello </p>
        <div class="mt-4 tags">
            <% if (song.category) { %>
            <a class="btn btn-outline-dark rounded-0 btn-sm" href="/written-works/category/<%=song.category%>" role="button"><%= song.category %></a>
            <% } %>
            <% if (song.decade) { %>
            <a class="btn btn-outline-dark rounded-0 btn-sm" href="/written-works/decade/<%=song.decade%>" role="button"><%= song.decade %></a>
            <% } %>
        </div>
    </div>
    </a>

</div>
<hr class="mt-2" width="90%">
<!--<div class="media mt-5">-->
    <!--&lt;!&ndash;Image&ndash;&gt;-->
    <!--<div class="container ml-3 col-2 align-self-center">-->
        <!--<% if (song.image) { var image = "/" + song.image %>-->
        <!--<img class="img-fluid" src="<%=image%>" alt="Generic placeholder image">-->
        <!--<% } else { %>-->
        <!--<img class="img-fluid" src="/images/mountain.jpg" alt="Generic placeholder image">-->
        <!--<% } %>-->
    <!--</div>-->
    <!--&lt;!&ndash;End image&ndash;&gt;-->

    <!--&lt;!&ndash;Body - title and description&ndash;&gt;-->
    <!--<div class="m-4 media-body align-self-center">-->
        <!--<% if (song.title) { %>-->
        <!--<h5 class="mt-0"><%= song.title %></h5>-->
        <!--<% } %>-->
        <!--<% if (song.description) { %>-->
            <!--<%= song.description.substring(0, 200) %>-->
        <!--<% } %>-->
        <!--<p>-->
            <!--<a href=<%=song.url%>> VIEW <i class="fas fa-chevron-right"></i>-->
            <!--</a>-->
        <!--</p>-->
    <!--</div>-->
    <!--&lt;!&ndash;End body&ndash;&gt;-->
<!--</div>-->

<% }); %>
<!--End media container-->
<% } %>

<!--End written works display-->

<script type="text/javascript" src="/javascripts/written-list.js"></script>

<% include partials/footer.ejs %>