<% include partials/header.ejs %>
<link rel='stylesheet' href='/stylesheets/written-list.css' />

<div class="header">
    <img src="<%=image%>" class="header header-image" alt="Responsive image">
    <div class="overlay">
        <div class="d-flex flex-column header header-nav">
            <nav class="navbar navbar-expand-md navbar-dark bg-transparent">
                <a title="Home" class="navbar-brand" href="/">CJQ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon header-link"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a title="Home" class="nav-link header-link" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a title="Explore Discography" class="nav-link header-link" href="/discography">MUSIC</a>
                        </li>
                        <li class="nav-item">
                            <a title="Explore Written Works" class="nav-link header-link" href="/written-works">WRITTEN WORK</a>
                        </li>
                        <li class="nav-item">
                            <a title="Contact Charles John Quarto" class="nav-link header-link" href="/contact">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a title="About Charles John Quarto" class="nav-link header-link" href="/about">BIO</a>
                        </li>
                        <li class="nav-item">
                            <a title="Shop New Collections" class="nav-link header-link" href="/shop">SHOP</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="d-flex flex-column justify-content-center header header-text">
        <p class="about-header-title align-self-center">WRITTEN WORKS</p>
        <!--Closing tags from overlay-->



        <!--Dropdown buttons that overlay the header image-->
        <div class="row mt-5 justify-content-center">
            <!--Category dropdown-->
            <div class="dropdown">
                <button type="button" class="mr-4 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
                <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a title="All Collections" class="dropdown-item header-dropdown-item" href="/written-works/category/collections">Collections</a>
                    <a title="All Poems" class="dropdown-item header-dropdown-item" href="/written-works/category/poems">Featured Poems</a>
                    <a title="All Songs" class="dropdown-item header-dropdown-item" href="/written-works/category/songs">Featured Songs</a>
                    <a title="All Written Works" class="dropdown-item header-dropdown-item" href="/written-works">All</a>
                </div>
            </div>
            <!--End category dropdown-->

<!--End dropdown buttons-->

    </div>
</div>
<!--Closing tags from overlay-->


<!--Display for written works-->
<!--Media container for a written work photo, title, and description-->
<!--BOOKS-->
<% if(results.book_list.length === 0 && results.poem_list.length === 0 && results.song_list.length === 0) {%>
<div class="mt-5 container">
    <h1> No Results </h1>
    <a title="All Written Works" class="no-results" href="/written-works"> BACK TO ALL WORKS
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<% } else { %>
<div class="container">
    <div class="row">
    <% results.book_list.forEach(function(book) { %>
        <div class="card col-4 border-0 rounded-0" style="max-width: 275px;">
            <!-- Image -->
            <img style="height: 125px; max-width: 125px;" class="rounded-circle mt-5 mx-auto" src="/images/hollywood.jpeg" alt="Photo of sunset">

            <!-- Text Content -->
            <div class="card-body mt-4 d-flex flex-column">
                <p class="card-text justify-self-center align-self-center"><%= book.title %></p>
                <a title="View Collection" class="justify-self-center align-self-center button-submit btn btn-md btn-outline-light rounded-0" role="button" href="/"><%= book.category %>s of <%= book.type %></a>
            </div>
        </div>
    <% }); %>
    </div>
<!--End media container-->

<!--start pagination section-->
<div class="paging">
    <% if (pages > 1 && current <= pages) { %>
    <ul class="pagination">
        <% if (current != 1) {%>
        <li class="page-item"><a class="btn btn-outline-dark rounded-0 btn-sm page-link" role="button" href="<%=current-1%>">Previous</a></li>
        <% } %>
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="page-item active"><a class="btn btn-outline-dark rounded-0 btn-sm page-link" role="button">...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <li class="page-item active"><a class="btn btn-outline-dark rounded-0 btn-sm page-link" role="button"><%= i %></a></li>
        <% } else { %>
        <li class="page-item"><a class="btn btn-outline-dark rounded-0 btn-sm page-link" href="<%= i %>" role="button" ><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="page-item active"><a class="btn btn-outline-dark rounded-0 btn-sm page-link" role="button">...</a></li>
        <% } %>
        <% } %>
        <% if (current != pages) { %>
        <li class="page-item"><a class="btn btn-outline-dark rounded-0 btn-sm page-link" href="<%=current-2+3%>" role="button">Next</a></li>
        <% } %>
    </ul>
    <% } %>
</div>
<% } %>
</div>



<!--End written works display-->

<script type="text/javascript" src="/javascripts/written-list.js"></script>

<% include partials/footer.ejs %>